@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
}
.container .card{
    position: absolute;
    width: 240px;
    height: 320px;
    background: #333;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.5s;
    filter: grayscale(1) contrast(1.1);
}
.container:hover .card{
    transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 120px),-50px);
}
.container:hover .card img{
    opacity: 0.5;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);
}
.container .card:hover{
    translate: calc(var(--i)* 20px) -50px;
    z-index: 11;

}
.container .card:hover img{
    filter: grayscale(0) contrast(1);
    opacity: 1;
}
.container .card::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.15em;
    transition: 0.5s;
    z-index: 1111;
    opacity: 0;
    text-align: center;
    transform: translateY(100px);

}
.container .card:hover:before{
    opacity: 1;
    top: -40px;
    transform: translateY(0px);
}
.container .card::after{
    content: '';
    position: absolute;
    top: -100px;
    width: 50px;
    height: 10px;
    background: #ff0003;
    transition: 0.3s;
    transform: scaleY(0);
    transform-origin: top;
    z-index: -1;

}
.container .card:hover::after{
    transform: scaleY(50);
}
